* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Poppins', sans-serif;
}

:root {
    font-size: 62.5%;
    --nav-height: 7.2rem;

    --primary-color: #004BFE;
    --secondary-color: #00009B;
    --tertinary-color: #00004E;
    --color-text: #d8d8d8;
    --color-paragraphy: #969696;

    --size-h2: 3rem;
    --size-h2-desktop: 4rem;
} 

body {
    background: hsla(0, 0%, 5%, 1);
    background: linear-gradient(0deg, hsla(0, 0%, 5%, 1) 0%, hsla(0, 0%, 0%, 1) 95%);    
    background: -moz-linear-gradient(0deg, hsla(0, 0%, 5%, 1) 0%, hsla(0, 0%, 0%, 1) 95%);    
    background: -webkit-linear-gradient(0deg, hsla(0, 0%, 5%, 1) 0%, hsla(0, 0%, 0%, 1) 95%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#0E0E0E", endColorstr="#000000", GradientType=1 );
}

#sobre {
    text-align: left;
}

#sobre h1 {
    font-size: 4rem;
    color: var(--color-text);
    margin-bottom: 3rem;
}

#sobre p.foot-text {
    color: var(--color-text);
    line-height: 1.6;
    font-weight: 700;
}

#sobre p.foot-text span {
    background: #00009B;
    background: linear-gradient(to right, #1c1cff 0%, #004BFE 50%, #2828ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#sobre p {
    margin-top: 3rem;
    font-weight: 300;
    color: var(--color-text);
    line-height: 1.6;
}

#sobre p span {
    font-weight: 700;
}

#sobre a {
    text-decoration: none;
}

#sobre a button {
    margin-top: 3rem;
    padding: 1rem 2rem;
    border-radius: 1rem;
    border: 1px solid var(--primary-color);
    background: linear-gradient(to right, #0000cf 0%, #004BFE 50%, #0000ca 100%);
    color: var(--color-text);
    font-weight: 700;
    font-size: 1.6rem;

    transition: all 200ms ease-in-out;
}

#sobre a button:hover {
    cursor: pointer;
    border: 1px solid #7aa2ff;
}

@media (min-width: 1080px) {
    section#sobre h1 {
        font-size: 5rem;
    }

    section#sobre p {
        font-size: 1.8rem;
    }

    section#sobre a button {
        font-size: 2rem;
    }

    section#sobre .wrapper {
        padding-inline: 20rem;
    }
}